.order-details-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-details {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 60%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  margin: 30px 0px;
}
.order-details-top {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  background: rgb(242, 244, 251);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.order-details-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 5px;
  margin: 15px;
}
.order-details-1 h4 {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 10px;
}
.order-details-2 {
  padding: 15px 20px;
  margin: 15px 0px;
  border-top: 1px solid #ddd;
}
.order-details-2 li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}
.image-in-order-details {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}
.order-details-3 {
  padding: 15px 20px;
  margin: 15px 0px;
  border-top: 1px solid #ddd;
}
/* .order-details-3 div {
  padding: 10px;
  margin: 10px;
} */
.order-details-3-2 h5 {
  padding: 5px 0px;
}

.order-details-3-3 {
  display: flex;
  justify-content: center;
}

.order-details-3-3 .button-box {
  border: 1px solid #9c9b9b;
  border-radius: 10px;
  padding: 5px 5px;
  margin: 12px;
}

@media (max-width: 768px) {
  .order-details-main {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: unset;
    /* border: 1px solid red; */
    margin: 10px 0px;
  }

  .order-details {
    border: 1px solid #bdbdbd;
    border-radius: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
  }
  .order-details-top {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
  }
  .order-details-1 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 15px 0px;
    background: #ffff;
    width: 100%;
    padding: 10px;
  }
  .order-details-2 {
    background: #ffff;
    margin: 15px 0px;
    border-top: 1px solid #ddd;
    padding: 15px;
    font-size: 19px;
  }
  .order-details-2 li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 15px 5px;
    font-size: 10px;
  }
  .order-details-2 li span p {
    font-size: 15px;
  }
  .order-details-2 li p {
    font-size: 15px;
  }
  .order-details-3 div {
    padding: 5px;
    margin: 15px 10px;
  }
  .order-details-3-3 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .order-details-3-3 .button-box {
    padding: 5px 10px;
    margin: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
