.dashboard-right-1{
    color: #524f5a;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px;
}
.dashboard-right-1-1{
    color: #524f5a;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}
.dashboard-right-1-1 span{
    padding: 0px 15px;
    margin: 0px 10px;
    border: 1px solid #ddd;
    border-radius: 17px;
    cursor: pointer;
}
.dashboard-right-1 h1{
    color: #524f5a;
    font-size: 1.25rem;
    font-weight: bold;
}

.dashboard-right-2{
    margin: 10px ;
   padding: 15px;
}

  
  .dashboard-right-1-1 span.active {
    background-color: #473ce1;
    color: white;
  }
  

  .dashboard-right-3 {
    display: flex;
    justify-content: space-around; 
    padding: 15px;
  }
  
  .dashboard-right-3-1 {
    background: #f8f8f8;
    padding: 16px; 
    border-radius: 8px; 
    text-align: center;
   border: 1px solid #ddd;
   width: 170px;
  }

  .change-arrow {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .change-arrow.up {
    color: green;
  }
  
  .change-arrow.down {
    color: red;
  }
  
  