/* NewOrderPopup.css */
.new-order-popup {
    position: fixed;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .new-order-popup h2 {
    margin-bottom: 20px;
  }
  
  .order-alert-main{
    display: flex;
    justify-content: space-between;
  }
  .order-alert-right{
    width: 50%;
  }
  .order-alert-left{
    width: 50%;

  }
  .order-details {
    margin-bottom: 15px;
  }
  